@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: 'Micra';
    src: url(../fonts/micra_bold.ttf);
}
html{
    scroll-behavior: smooth;
}

*{
    border: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF5DA;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo img{
    width: 120px;
    height: 117.86px;
}
.logo p{    
    font-family: 'Micra';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: #012D50;
}
.btn-contacts button, .main-btn button, .ask-quest button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 250px;
    height: 55px;
    background-color: #012D50;
    border-radius: 20px;
    transition: 300ms;
}
.btn-contacts button:hover, .main-btn button:hover, .ask-quest button:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #012D50;
    width: 250px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 5px solid;
    transition: 300ms;
}
.card button:hover{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #012D50;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 5px solid;
    transition: 300ms;
}
.btn-contacts .contacts{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #012D50;
    text-decoration: none;
}
.btn-contacts .contacts a{
    color: #012D50;
    text-decoration: none;
}
.header-row-top{
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;
    gap: 340px;
}
.logo{
    display: flex;
    align-items: center;
}
.btn-contacts{
    display: flex;
    gap: 60px;
}
.contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.header-menu-row{
    width: 99vw;
    height: 100px;
    background-color: #012D50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.header-menu-row a {
    color: #FFFFFF;
    font-family: 'Micra';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    text-decoration: none;
    position: relative;
    transition: color 300ms;
}

.header-menu-row a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: #FFFFFF;
    transition: width 300ms;
}

.header-menu-row a:hover {
    color: #ffffff;
}

.header-menu-row a:hover::after {
    width: 100%; 
}
.main{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.slog .border-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #012D50;
    text-shadow: 
    -1px -1px 0 #FFFFFF, 
    1px -1px 0 #FFFFFF, 
    -1px 1px 0 #FFFFFF, 
    1px 1px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -3px -3px 0 #FFFFFF,
    3px -3px 0 #FFFFFF,
    -3px 3px 0 #FFFFFF,
    3px 3px 0 #FFFFFF,
    -4px -4px 0 #FFFFFF,
    4px -4px 0 #FFFFFF,
    -4px 4px 0 #FFFFFF,
    4px 4px 0 #FFFFFF,
    -5px -5px 0 #FFFFFF,
    5px -5px 0 #FFFFFF,
    -5px 5px 0 #FFFFFF,
    5px 5px 0 #FFFFFF;
}
.slog .default-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}
.slog{
    width: 672px;
    height: 356px;
    background: #012D50;
    padding: 24px 30px;
    text-align: left;
}
.main-left p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #012D50;
    margin-top: 5px;
}
.main-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.main-btn .light{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #012D50;
    width: 365px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid;
    transition: 300ms;
}
.main-btn .light:hover{
    border: 5px solid;
    transition: 300ms; 
    width: 365px;
}
.main-btn button{
    width: 300px;
    text-transform: uppercase;
}
.main-btn button:hover{
    width: 300px;
}
.main-right img{
    box-sizing: border-box;
    width: 732px;
    height: 561px;
}
.about-left h1, .products h1, .politics h1{
    margin-top: 100px;
    font-family: 'Micra';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    color: #012D50;
}
.politics h1{
    margin-left: -140px;
    margin-top: 55px;
    margin-bottom: 55px;
}
.about-left .wbg, .products .wbg{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    width: 545px;
    height: 71px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #012D50;
}
.products .wbg{
    width: 631px;
    margin-top: 20px;
}
.about-left p{
    width: 910px;
    height: 117px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #012D50;
}
.about-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.about-right img{
    width: 523px;
    height: 514px;
}
.case-galka{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}
.case-galka img{
    width: 24px;
    height: 21px;
    margin-top: 10px;
}
.service .wbg{
    width: 600px;
    height: 71px;
}
.service{
    width: 1480px;
}
.service-row{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}
.case-service p{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #012D50;
    margin-top: 15px;
}
.advantages{
    width: 1480px;
    gap: 64px;
}
.case-service img{
    object-fit: contain;
}
.advantages-row{
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}
.feedback{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: unset;
}
.btn-wrapper{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
    bottom: 50%;
    width: 1520px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}
.feedback-men{
    height: 293px;
    background-color: #012c50;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 20px 21px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
}
.text-fb{
    font-size: 24px;
    margin-top: 30px;
    width: 466px;
}
.bio-men p{
    font-size: 30px;
}
.bio-men{
    display: flex;
    gap: 20px;
}
.header-menu-row{
    overflow: hidden;
}
.faq-item {
    margin: 10px 0;
    font-family: Arial, sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    width: 1520px;
    padding: 20px 0;
    background-color: #012c50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow: hidden;
}

.faq-question {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.faq-answer {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    width: 90%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    opacity: 1;
    margin-top: 10px;
}

.faq-toggle {
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
}

.faq-item.active .faq-toggle {
    transform: rotate(180deg);
}

.swiper{
    overflow: hidden;
    width: 100%;
}
.con-slider{
    width: 1520px;
    margin-top: 10px;
}
.swiper-button-next{
    position: absolute !important;
    margin-right: -70px;
    margin-top: 30px !important;
}
.swiper-button-prev{
    position: absolute !important;
    margin-left: -70px;
    margin-top: 30px !important;
}
.ask-quest p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #012D50;
}
.ask-quest{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.footer {
    overflow-x: hidden;
    width: 99vw;
    background-color: #012D50;
    color: #FFFFFF;
    padding: 20px 0;
    font-family: 'Micra';
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.footer-container {
    width: 90%;
    overflow: hidden;
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.fct{
    width: 90%;
    overflow: hidden;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fcb{
    width: 90%;
    overflow: hidden;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-logo {
    flex: 1 1 30%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.footer-logo img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.footer-menu {
    flex: 1 1 40%;
    display: flex;
    justify-content: space-between;
    height: 140px;
}

.footer-column {
    text-align: left;
    width: 360px;
    margin-right: 60px;
    height: 120px;
}

.footer-column h3 {
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 20px;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.footer-contacts {
    flex: 1 1 30%;
    text-align: left;
    display: flex;
    justify-content: center;
    margin-left: 350px;
    margin-top: 20px;
    gap: 50px;
    align-items: center;
}
.footer-links{
    color: #FFFFFF;
}
.footer-contacts h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.footer-contacts p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 24px;
}

.footer-contacts a:hover {
    text-decoration: underline;
}
.footer-column .inter li a{
    font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 24px; 
}
.social-media {
    margin-top: 10px;
    display: flex;
    margin-right: 80px;
    align-items: center;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.footer-bottom {
    width: 99vw;
    text-align: left;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    font-family: 'Inter';
    font-weight: 700;
    font-weight: 20px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}
.modal-checkbox p{
    font-size: 18px;
}
.modal-window {
    background-color: #012D50;
    width: 900px;
    height: 276px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-window-2 {
    background-color: #012D50;
    width: 1440px;
    height: 828px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #737373;
    text-transform: uppercase;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Micra';
    cursor: pointer;
}
.modal-close:hover{
    color: #7F7F7F;
}
.con-top-mod{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: white;
    gap: 35px;
}
.con-text-mod{
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    align-items: start;
    display: flex;
    text-align: left;
    width: 100%;
    margin-top: 20px;
}
.modal-input {
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
    padding-left: 20px;
    background-color: #FFFFFF;
    color: #7F7F7F;
    width: 470px;
    height: 55px;
}

.modal-input::placeholder {
    color: #7F7F7F;
}

.modal-checkbox {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.modal-checkbox input {
    margin-right: 10px;
    accent-color: #FFFFFF;
}

.underline {
    text-decoration: underline;
    color: #FFFFFF;
}

.modal-button {
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #012D50;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    width: 250px;
    height: 55px;
    transition: background-color 0.3s ease;
}
.form-left{
    width: 500px;
}
.modal-button:hover {
    border: 5px solid;
    transition: 300ms; 
    
}

.modal-form {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.modal-form-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: left;
}
.con-cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
    background-color: #012D50;
    width: 493px;
    height: 600px;
    padding-top: 40px;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.card-row{
    display: flex;
    width: 1520px;
    flex-direction: row;
    gap: 20px;
}
.card button{
    width: 440px;
    height: 55px;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 900;
    color: #012c50;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card p{
    width: 423px;
}
.politics p{
    width: 1304px;
    height: 2170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #012D50;
}